---
---

<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Hiran Venugopalan" property="og:site_name" />
    <meta
        content="Product and Type Designer | UI UX | Design Mentoring"
        property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">
    <meta property="og:image" content="../assets/img/OGImg.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;700&family=Public+Sans:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- else -%}
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- endif -%}

    <title>{{page.title}} - {{site.heading}}</title>
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
    <link rel="canonical" href="{{site.url}}{{page.url}}" />
    <link rel="apple-touch-icon" href="./assets/img/profile.png">
    <link rel="icon" href="./assets/img/favicon.png" type="image/png" sizes="16x16" />
    <!-- <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet" media="all" class="default" /> 
    <link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet" media="all" class="default" />  
    <link href="{{site.baseurl}}/assets/css/Util.css" rel="stylesheet" media="all" class="default" /> -->
    <link href="{{site.baseurl}}/assets/css/update.css" rel="stylesheet" media="all" class="default" />
    <!-- <link href="{{site.baseurl}}/assets/css/vendor/Katex.css" rel="stylesheet" media="all" class="default" /> -->

    <!-- [if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <script src="{{ site.baseurl }}/assets/js/Hamburger.js" ></script>
    <script src="{{ site.baseurl }}/assets/js/util.js" ></script>
</head>

<body >
    <main class="container" >
    {%- include Nav.html -%}
    <section class="section">
        <div class="columns is-centered">
            <!--- Logs Feed Layout-->
            {%- if page.feedformat -%}
            <div >
                <h5 class="meta-title"><a href="/">← </a></h5>
                    <h2 class="paragraph-title">{{page.title}}</h2>
                    <div class="paragraph">
                    {%- include LogFeed.html -%}
                    </div>
            {%- endif -%}

            <!--- Logs Layout-->
            {%- if page.content-type == "logs" and page.category != undefined -%}
            <div>
                    <div class="paragraph">
                        <div>
                            {%- if site.preferences.homepage.enabled -%}
                            <a onclick="window.history.back();">
                            {%- else -%}
                            <a onclick="window.location.assign('/');">
                            {%- endif -%}
                                    <h5 class="meta-title">← BACK</h5>
                            </a>
                        </div>
                    <!--- List type Note Layout-->
                    <h2 class="paragraph-title">{{page.title}}</h2>
                    {%- include Content.html -%}
                    {%- include Backlinks.html -%}
                    </div>
            </div>
            {%- endif -%}
                <!--- Logs Subcategory Layout-->
            {%- if page.subcategory -%}
            <div >
                <h5 class="meta-title"><a href="/logs">← </a></h5>
                    <h2 class="paragraph-title">{{page.title}}</h2>
                    {% assign filter_category = page.subcategory | replace: "[[", ""  | replace: "]]", ""   %}
                    {% assign firstLetter = filter_category | slice: 0, 1 | upcase %}
                    {% assign restOfString = filter_category | slice: 1, filter_category.size %}
                    <p class="log-subcategory"> {{ firstLetter }}{{ restOfString }}</p>
                    <p>Here's a compilation of books I've read. The ones marked with ✦ are must-reads, and those marked with ❷ are re-reads. Check my Antilibrary for the bigger list ;)</p>
                    <div class="paragraph">
                    {% include Content.html %}
                    </div>
            {%- endif -%}
            </div>
    </section>   
    {%- include Footer.html -%}             
</main>
</body>
</html>

