<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Hiran Venugopalan" property="og:site_name" />
    <meta
      content="Product and Type Designer | UI UX | Design Mentoring"
      property="og:description"
    />
    <meta content="{{ site.url }}/about/" property="article:author" />
    <meta property="og:image" content="../assets/img/OGImg.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title" />
    <meta content="article" property="og:type" />
    <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
    {%- else -%}
    <meta content="website" property="og:type" />
    <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
    {%- endif -%}

    <title>{{page.title}} - {{site.heading}}</title>
    <script
      data-host="https://microanalytics.io"
      data-dnt="false"
      src="https://microanalytics.io/js/script.js"
      id="ZwSg9rf6GA"
      async
      defer
    ></script>
    <link rel="canonical" href="{{site.url}}{{page.url}}" />
    <link
      rel="apple-touch-icon"
      href="./assets/img/profile.png"
    />
    <link
      rel="icon"
      href="./assets/img/favicon.png"
      type="image/png"
      sizes="16x16"
    />
    <link
      href="./assets/css/style.css"
      rel="stylesheet"
      media="all"
      class="default"
    />
    <link
      href="./assets/css/main.css"
      rel="stylesheet"
      media="all"
      class="default"
    />
    <link
      href="./assets/css/Util.css"
      rel="stylesheet"
      media="all"
      class="default"
    />
    <link
      href="./assets/css/update.css"
      rel="stylesheet"
      media="all"
      class="default"
    />
    <link
      href="./assets/css/vendor/Katex.css"
      rel="stylesheet"
      media="all"
      class="default"
    />

    <!-- [if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link href="./assets/css/update.css" rel="stylesheet" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ site.url }}/feed.xml"
    />
    <script src="./assets/js/util.js"></script>
  </head>

  <body>
    <main>
      {%- include Nav.html -%}
      <section class="section">
        <div class="columns is-centered">
          <div
            class="column is-6-widescreen is-8-desktop is-8-tablet is-12-mobile"
          >
            <div class="jumbo">{{ page.title }}</div>
            <br />
            {%- include Content.html -%}
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
